<div class="bg-gray-400 flex justify-between">
	<a href="#">
		<img
			class="w-[130px] p-4"
			src="../assets/logo-ap.png"
			alt="Logo Argentina Programa"
		/>
	</a>
	<div class="p-2 flex gap-2">
		<div class="flex gap-2">
			<a
				href="https://www.linkedin.com/in/ulisesapaza/"
				target="_blank"
				class="border border-gray-500 rounded-xl p-2"
			>
				<i class="fa-brands fa-linkedin"></i>
			</a>
			<a
				href="https://github.com/ulysses-ck"
				target="_blank"
				class="border border-gray-500 rounded-xl p-2"
			>
				<i class="fa-brands fa-github"></i>
			</a>
		</div>
		<button
			class="border border-gray-500 bg-green-500 rounded-xl text-white p-2"
		>
			Login
		</button>
	</div>
</div>
